<!DOCTYPE html>
<html>
<head>
	<title><% provide(:title, "About")%></title>
	<meta charset="utf-8">
	<style>
    #frame{
      border:5px solid pink;
      display:grid;
    }
    div{
      border:5px aquamarine;
    }
    body{
      background-image: url("C:/sites/workspace/APPChloe/app/assets/images/mainbackground_pic.jpg");
      background-position: 50% 50%;
      background-repeat: no-repeat;}
</style>
</head>
<body>
  <h1 style="font:50px navy; text-align:center;">About me</h1>
  <h1 style="font:25px purple; text-align:top right;"><a href= "https://uwaterloo.ca/">University of Waterloo </a>
  </h1>
  <div id="frame">
  <p>I am Jeongyun(Chloe) Jeong, a student attending in BASE program for UW engineering.</p>
  </div>
</body>
</html>