<!DOCTYPE html>
<html>
<head>
  <title><% provide(:title, "Help")%></title>
  <meta charset="utf-8">
  <style>
   #frame{
      border:5px solid pink;
      display:grid;
    }
    body{
      background-image: url("C:/sites/workspace/APPChloe/app/assets/images/mainbackground_pic.jpg");
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  </style>
</head>
<body>
  <h1 style="font:50px navy; text-align:center;">Help</h1>
  <h1 style="font:25px purple; text-align:top right;"><a href= "https://uwaterloo.ca/">University of Waterloo </a>
  </h1>
  <div id="frame">
  <p>What can I help for you</p>
  </div>
</body>
</html>
